body {
  display: flex;
  height: 100vh;
}

.fancy-button {
  width: 150px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(45deg, #ffff00, #ff0000);
  color: #ffffff;
  margin: auto;
  animation: jump 0.5s 0.4s, spin 0.5s, hide 1s 2s forwards;
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(2000px);
  }
}