.customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 106px;
    align-items: center;
}

.customers__logo {
    filter: brightness(0);
}