* {
  box-sizing: border-box;
}

.block {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  background-color: coral;
  margin: auto;
  animation: ease 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes ease {
  from {
    top: -100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}