.mountains {
    width: 300px;
    height: 500px;
    background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+13/task1/nature.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    text-align: center;
    padding: 32px;
    font-size: 32px;
    font-weight: 700;
    background-color: linear-gradient(45deg, #ffff, #ffff);
    -webkit-text-fill-color: #ffff;
    -webkit-background-clip: text;
}

