header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-shrink: 0;
  flex-grow: 1;
  width: 300px;
}