div {
    border: 2px solid black;
    margin: 50px;
    padding: 50px;
}

.rectangle1 {
    background-color: blue;
    width: 924px;
    height: 416px;
}

.rectangle2 {
    background-color: yellow;
    width: 820px;
    height: 312px;
}

.rectangle3 {
    background-color: green;
    width: 716;
    height: 208;
}

.rectangle4 {
    background-color: pink;
    width: 612px;
    height: 104px;
}