div {
    border: 2px solid black;
    margin: 50px;
}

.rectangle1 {
    background-color: blue;
}

.rectangle2 {
    background-color: yellow;
}

.rectangle3 {
    background-color: green;
}

.rectangle4 {
    background-color: pink;
    padding: 50px;
}