.header {
    height: 40px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.footer {
    height: 40px;
    background-color: green;
    display: flex;
}

.navigation {
    margin: 0;
    display: flex;
    list-style-type: none;
}

.navigation__item {
    margin-right: 10px;
}

.footer__text {
    margin: auto;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
}

.dashboard {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}

.news {
    width: 200px;
    background-color: grey;
}

.list {
    padding: 0;
    margin: 0;
    line-height: 40px;
    list-style: none;
}

.li1 {
    margin-left: 16px;
}

.h2 {
    margin: 16px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center; 
}