.image-container {
    position: relative;
}

.image {
    flex-basis: 100%;
    margin: auto;
    display: block;
}

.image-button {
    width: 200px;
    height: 50px;
    background-color: bisque;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    text-align: center;
    line-height: 50px;
}

.image-button:hover {
    opacity: 1;
    cursor: pointer;
}