.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex-grow: 1;
}

.products-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex-grow: 1;
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  flex-grow: 1;
}

span {
  background-color: #faebd7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: lowercase;
  padding: 8px;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex-grow: 2;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
  .navigation {
    min-width: calc(100% / 3)
  }
  .products-list {
    min-width: calc(100% / 3)
  }
  .news {
    min-width: calc(100% / 3)
  }
}