@import 'header.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-left: 3em;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  list-style-type: none;
  display: flex;

  &__item {
    height: 3em;
    line-height: 3em;
    padding-left: 8px;
    padding-right: 8px;
    display: block;
    display: inline-block;

    &__item-text {
      color: #fff;
    }

    &:hover {
      background-color: #9acd32;
      color: #ffff00;
    }

    & .submenu {
      margin: 0;
      padding: 0;
      background-color: #ff7f50;
      min-width: 120px;
      color: #fff;
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      display: none;

      &__item {
        list-style-type: none;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }

  &_active {
    height: 3em;
    line-height: 3em;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.submenu__item:hover {
  color: #000;
}

.menu__item_active:hover .submenu {
  display: block;
}

.menu__item_active > .menu__item-text {
  color: #FFFF00;
}
