* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
}

.image {
    height: 200px;
    flex-basis: 200px;
    margin: 16px;
    border: 1px dotted grey;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}