html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 74px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 50vw;
    margin: auto;
}

div {
    background-color: coral;
    color: white;
    height: 200px;
    text-transform: uppercase;
    text-align: center;
    line-height: 200px;
}