* {
    box-sizing: border-box;
}

.articles {
    display: flex;
}

.articles > div {
    height: 100;
    width: 150;
    background-color: beige;
    margin: 16px;
}

.cropped {
    overflow: hidden;
}

.both-scrolls {
    overflow: scroll;
    cursor: all-scroll;
}

.vertical-scroll {
    overflow: auto;
    cursor: all-scroll;
}
