.articles {
    display: flex;
}

div > div {
    width: 150 px;
    height: 100 px;
    background-color: beige;
    margin: 16px;
}

.cropped {
    overflow: hidden;
}

.both-scrolls {
    overflow: scroll;
    cursor: all-scroll;
}

.vertical-scroll {
    overflow: auto;
    cursor: all-scroll;
}
