* {
  box-sizing: border-box;
}

.square {
  
  height: 100px;
  margin: 8px;
  background-color: #8a2be2;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .square {
    background-color: #ff7f50;
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}